<!-- students/templates/students/list.html-->

{% extends "base.html" %}
{% block page_title %}
    <h2>Students</h2>
{% endblock page_title %}

{% block page_content %}
    {% block students %}
    <form method="GET" action="{% url 'students_list' %}">
        <div>
            {{ form.first_name.label_tag }}
            {{ form.first_name }}
        </div>
        <div>
            {{ form.last_name.label_tag }}
            {{ form.last_name }}
        </div>
        <button type="submit">Search</button>
    </form>
    <p>
        <a href="{% url 'students_add' %} " class="btn btn-success">Add a new student</a>
    </p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Date of Birth</th>
                <th>Enrollment Date</th>
                <th>Grade</th>
                <th>Operation</th>
            </tr>
        </thead>
        <tbody>
            {% for student in page_obj %}
                <tr>
                    <td>{{ student.first_name }}</td>
                    <td>{{ student.last_name }}</td>
                    <td>{{ student.email }}</td>
                    <td>{{ student.date_of_birth }}</td>
                    <td>{{ student.enrollment_date }}</td>
                    <td>{{ student.grade }}</td>
                    <td>
                        <a href="{% url 'students_detail' student.id %}" class="btn btn-info">Detail</a>
                        <a href="{% url 'students_edit' student.id %}" class="btn btn-primary">Edit</a>
                        <a href="{% url 'students_delete' student.id %}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- Pagination Controls -->
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1{% if request.GET.first_name %}&first_name={{ request.GET.first_name }}{% endif %}{% if request.GET.last_name %}&last_name={{ request.GET.last_name }}{% endif %}">First</a>
                <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.first_name %}&first_name={{ request.GET.first_name }}{% endif %}{% if request.GET.last_name %}&last_name={{ request.GET.last_name }}{% endif %}">Previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}{% if request.GET.first_name %}&first_name={{ request.GET.first_name }}{% endif %}{% if request.GET.last_name %}&last_name={{ request.GET.last_name }}{% endif %}">Next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.first_name %}&first_name={{ request.GET.first_name }}{% endif %}{% if request.GET.last_name %}&last_name={{ request.GET.last_name }}{% endif %}">Last</a>
            {% endif %}
        </span>
    </div>
    
    {% endblock students %}
{% endblock page_content %}